body {
  background-color: rgb(253,246,227);
  color: rgb(6,86,143);
  font-family: sans-serif;
  font-size: 16px;
}

/*rgb(38,139,210)*/


#map {
  height: 400px;
  width: 600px;
}

.journeys {
  display: inline-block;
  vertical-align: top;
}

.journey {
  border: 1px solid #000;
  cursor: pointer;
}

.journey:hover {
  background-color: rgb(253,256,257);
}

.journey span {
  color: red;
}